<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Editar Item da Venda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-cart-shopping"></i> Editar Item da Venda
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div>
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Editar Item</h4>
            </div>
            <div class="card-body">
                <form action="/atualizarItemVenda" th:object="${itemVenda}" method="POST">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Produto:</label>
                                <select th:field="*{produto.id}" class="form-control" required>
                                    <option value="" disabled selected>Selecione um produto</option>
                                    <option th:each="produto : ${listaProdutos}" th:value="${produto.id}"
                                            th:text="${produto.nome}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
<!--                            <div class="form-group col-md-6">-->
<!--                                <label>Vendedor:</label>-->
<!--                                <select th:field="*{funcionario.id}" class="form-control" required>-->
<!--                                    <option value="" disabled selected>Selecione um vendedor</option>-->
<!--                                    <option th:each="funcionario : ${listaFuncionarios}"-->
<!--                                            th:value="${funcionario.id}"-->
<!--                                            th:text="${funcionario.nome}"></option>-->
<!--                                </select>-->
<!--                            </div>-->

<!--                            <div class="form-group col-md-6">-->
<!--                                <label>Cliente:</label>-->
<!--                                <select th:field="*{cliente.id}" class="form-control" required>-->
<!--                                    <option value="" disabled selected>Selecione o Cliente</option>-->
<!--                                    <option th:each="cliente : ${listaClientes}"-->
<!--                                            th:value="${cliente.id}"-->
<!--                                            th:text="${cliente.nome}"></option>-->
<!--                                </select>-->
<!--                            </div>-->

                            <div class="form-group col-md-6">
                                <label for="quantidade">Quantidade:</label>
                                <input type="text" th:field="*{quantidade}" id="quantidade" class="form-control"/>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="valor">Valor:</label>
                                <input type="text" readonly="true" th:field="*{valor}" id="valor" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-save"></i> Salvar
                        </button>
                        <a href="/listarVenda" class="btn btn-danger">
                            <i class="fa-solid fa-times"></i> Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
